/*******
COLOR CHEAT SHEET
https://coolors.co/181925-202232-2b2d42-abb6c4-d5dce3-edf2f4-be0e23-eb1e3d-f0052c
black-grey181925
medium dark grey-202232
navy blue gray-2b2d42
arctic gray-abb6c4
light gray-d5dce3
gray white-edf2f4
dark red-be0e23
pink red-eb1e3d
fruit punch red-f0052c



*****/



/************************/
/******** FONTS *********/
/************************/
body, p, div {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Guerrilla", sans-serif;
}
/* *****Hero************* */
/**********/
/**********/
header.masthead {
    background: url("https://hockeywilderness.com/uploads/monthly_2025_11/USATSI_27631242_168390100_lowres.jpg.baa23bd78662b0010ad77b440cb77c8d.jpg");
    background-size: cover;
    background-position:center;
}

.masthead h1 {
    color: #edf2f4;
    text-shadow: 2px 2px 5px #181925;
    font-size: 4em !important;
}

.masthead p {
     color: #edf2f4;
     text-shadow: 1px 1px 5px #181925;
     font-weight: 900;
     font-size: 2em !important;
}

.btn-primary{
    background-color: #202232!important;
    color: #edf2f4;
    font-size: 1em;
    font-family: "Montserrat";
}

.btn-primary:hover {
    background-color: #abb6c4 !important;
    color: #202232;
}

#about {
    background-color: #202232 !important;
}


https://hockeywilderness.com/uploads/monthly_2025_11/USATSI_27631242_168390100_lowres.jpg.baa23bd78662b0010ad77b440cb77c8d.jpg