/*******
COLOR CHEAT SHEET
https://coolors.co/181925-202232-2b2d42-abb6c4-d5dce3-edf2f4-be0e23-eb1e3d-f0052c
black-grey181925
medium dark grey-202232
navy blue gray-2b2d42
arctic gray-abb6c4
light gray-d5dce3
gray white-edf2f4
dark red-be0e23
pink red-eb1e3d
fruit punch red-f0052c



*****/



/************************/
/******** FONTS *********/
/************************/
body, p, div {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Guerrilla", sans-serif;
}
/* *****Hero************* */
/**********/
/**********/
header.masthead {
    background: url("https://hockeywilderness.com/uploads/monthly_2025_11/USATSI_27631242_168390100_lowres.jpg.baa23bd78662b0010ad77b440cb77c8d.jpg");
    background-size: cover;
    background-position:center;
}

.masthead h1 {
    color: #edf2f4;
    text-shadow: 2px 2px 5px #181925e0;
    font-size: 4em !important;
}

.masthead p {
     color: #edf2f4;
     text-shadow: 1px 1px 5px #181925e6;
     font-weight: 900;
     font-size: 2em !important;
}

.btn-primary{
    background-color: #202232!important;
    color: #edf2f4;
    font-size: 1em;
    font-family: "Montserrat";
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #f0052c !important;
    color: #edf2f4;
}

#about {
    background-color: #202232 !important;
}

#why-explained {
    color: #d5dce3 !important;
    font-size: 300px important;
}

.project-category {
    font-size: 35px !important;
    font-family: "Protest Guerrilla" !important;
}

.project-name {
    font-size: 40px !important;
    font-family: "Montserrat"; 
    font-weight: 900!important;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    background: #be0e23c3;
}

#criteria {
    color: #abb6c4;
    font-size: 17px;
}
/* *****colors************* */
/**********/
/**********/

.text-primary {
    color:#be0e23e4 !important;
}

.divider{
    background-color: #be0e23bf !important;
    color: #f0052c;
}

.btn {
    background-color: #f0052c;
    color: #edf2f4;
    font-size: 17px;
}

.btn:hover, .btn:focus, .btn:active{
    background-color: #f0052cbb;
    color: #edf2f4c8;
    font-size: 17px;
}

.bg-dark, .bg-primary {
    background-color: #202232 !important;
}

/**** CAROUSEL COLORS ***/
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: black;
    border-radius: 5px; 
    padding: 2px;
}

/****** NAV COLORS ******/

.nav-item {
    font-family: "Protest Guerrilla" !important;
    text-align: right !important;
    color:#f0052c !important;
}

.nav-link {
    color: #f0052c !important;
   font-weight: 900 !important;
   font-size: 20px !important;
}

.nav-link:hover, .nav-link:focus{

    color: #be0e23 !important;
}

/*********footer*******/

.copyright {
    font-family: "Montserrat" !important;
    text-align: center;
    color: #2b2d42;
    font-weight: 300 !important;
}
.mentions {
    font-size: 18px;
    font-weight: 550;
}

.mt-0 {
    font-size: 40px;
}

#mention-name{
    color: #181925;
}

.goalie-name {
    font-size:66px;
}

.explanation {
    font-size: 25px;
    font-weight: 570;
    text-shadow:1px 1px 3px #edf2f4;
}

#mainNav .navbar-brand {
color: #edf2f4;
font-size: 22px !important;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active{
    color: #f0052c !important; 
}
https://hockeywilderness.com/uploads/monthly_2025_11/USATSI_27631242_168390100_lowres.jpg.baa23bd78662b0010ad77b440cb77c8d.jpg